body{
    background-color: rgb(224, 224, 224);

}
.img-fluid{
    width:100%;
}
.navbar-brand{
    font-family: 'ZCOOL KuaiLe', cursive;
}

.card:hover{
    text-decoration:none;
    background-color: blue;
    color:white;
    transition:all 0.2s ease-in;
}

.card-body{
    text-decoration:none;
}
.backtotop{
    text-align:right;
    margin:25px 40px;
    font-size:40px;
    transition:0.3s all-ease;
    animation:wiggle 0.3s infinite alternate;
    width:3%;
}
@keyframes wiggle {
    0%{
        bottom:0px;
    }
    100%{
        bottom:25px;
    }
    
}
#darkmode{
    border-radius: 10px;
    margin-left: 4rem;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    box-shadow: 1px 1px 3px white,-1px -1px 3px white;
    font-weight: bold;
    box-sizing: border-box;
}

